.aniamtion-wrapper {
  position: absolute;
  top: 4rem;
  left: 0px;
  height: 45rem;
  width: 100%;
}

.squares {
  margin: 0 auto;
  width: 70rem;
  height: 100%;
  display: flex;
  z-index: 100;
  justify-content: space-around;
  overflow: hidden
}

.square {
  animation: squares 9.5s linear infinite;
  align-self: flex-end;
  width: 1em;
  height: 1em;
  transform: translateY(100%);
  background: rgba(235, 235, 235, 0.52);
}

.s2th {
  height: 1.5em;
  width: 3em;
  animation-delay: 1s;
  animation-duration: 17s;
  background: rgba(235, 235, 235, 0.37);
  -webkit-filter: blur(5px)
}

.s3th {
  height: 2em;
  width: 1em;
  animation-delay: 1.5s;
  animation-duration: 8s;
  -webkit-filter: blur()
}

.s4th {
  height: 1em;
  width: 1.5em;
  animation-delay: 0.5s;
  -webkit-filter: blur(3px);
  background: rgba(235, 235, 235, 0.31);
  animation-duration: 13s
}

.s5th {
  height: 1.25em;
  width: 2em;
  animation-delay: 4s;
  -webkit-filter: blur(2px);
  animation-duration: 11s
}

.s6th {
  height: 2.5em;
  width: 2em;
  animation-delay: 2s;
  -webkit-filter: blur(1px);
  background: rgba(235, 235, 235, 0.91);
  animation-duration: 9s
}

.s7th {
  height: 5em;
  width: 2em;
  -webkit-filter: blur(2.5px);
  animation-duration: 12s
}

@keyframes squares {
  from {
    transform: translateY(100%) rotate(-50deg)
  }

  to {
    transform: translateY(calc(-100vh + -100%)) rotate(20deg)
  }
}